<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        GestGenSuite
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <style>
        .container {
            height: 100vh;
            width: 100vw;
            font-family: Helvetica;
        }

        .loader {
            height: 20px;
            width: 250px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .loader--dot {
            animation-name: loader;
            animation-timing-function: ease-in-out;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background-color: black;
            position: absolute;
            border: 2px solid white;
        }
        .loader--dot:first-child {
            background-color: #8cc759;
            animation-delay: 0.5s;
        }
        .loader--dot:nth-child(2) {
            background-color: #8c6daf;
            animation-delay: 0.4s;
        }
        .loader--dot:nth-child(3) {
            background-color: #ef5d74;
            animation-delay: 0.3s;
        }
        .loader--dot:nth-child(4) {
            background-color: #f9a74b;
            animation-delay: 0.2s;
        }
        .loader--dot:nth-child(5) {
            background-color: #60beeb;
            animation-delay: 0.1s;
        }
        .loader--dot:nth-child(6) {
            background-color: #fbef5a;
            animation-delay: 0s;
        }
        .loader--text {
            position: absolute;
            top: 200%;
            left: 0;
            right: 0;
            width: 4rem;
            margin: auto;
        }
        .loader--text:after {
            content: "Loading";
            font-weight: bold;
            animation-name: loading-text;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }

        @keyframes loader {
            15% {
                transform: translateX(0);
            }
            45% {
                transform: translateX(230px);
            }
            65% {
                transform: translateX(230px);
            }
            95% {
                transform: translateX(0);
            }
        }
        @keyframes loading-text {
            0% {
                content: "Inoltro";
            }
            25% {
                content: "Inoltro.";
            }
            50% {
                content: "Inoltro..";
            }
            75% {
                content: "Inoltro...";
            }
        }

    </style>

    <style>
        tr.group,
        tr.group:hover {
            background: linear-gradient(60deg, #86ca00, #d3ff72);
            cursor:pointer;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a class="simple-text logo-normal">
                GestGenSuite <img src="images/logo.png" height="100px" >
            </a>

        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profilo">
                        <i class="material-icons">person</i>
                        <p>Profilo</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/utenti">
                        <i class="material-icons">content_paste</i>
                        <p>Tabella Utenti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/clienti">
                        <i class="material-icons">library_books</i>
                        <p>Tabella Clienti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/inserimento">
                        <i class="material-icons">border_color</i>
                        <p>Inserimento</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/saldo">
                        <i class="material-icons">attach_money</i>
                        <p>Saldo</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/prodottiStruttura">
                        <i class="material-icons">restaurant_menu</i>
                        <p>Prodotti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/fornitori">
                        <i class="material-icons">transfer_within_a_station</i>
                        <p>Tabella Fornitori</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/richieste">
                        <i class="material-icons">add_shopping_cart</i>
                        <p>Tabella Riassortimento</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/logout?id=user">
                        <i class="material-icons">exit_to_app</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/prodottiStruttura">Prodotti</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class='container' id="spinner" style="display: none">
                <div class='loader'>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--text'></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title ">Prodotti</h4>
                                        <p class="card-category">Inserisci la quantità prodotto per inoltro e-mail fornitore</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="float: right">
                                            <button type="button" id="aggiungiUtente" class="btn btn-primary block" data-toggle="modal" data-target="#insert" data-tooltip="tooltip" data-placement="top" title="Aggiungi Prodotto">Aggiungi <i class="fa fa-plus"></i></button>
                                            <button type="button" id="modificaProdotto" onclick="openModalUp()" class="btn btn-primary block" data-toggle="modal" data-target="#update"  data-tooltip="tooltip" data-placement="top" title="Modifica Fornitore">Modifica <i class="fa fa-pencil"></i></button>
                                            <button type="button" id="eliminaProdotto" onclick="openModalDel()" class="btn btn-primary block" data-toggle="modal" data-target="#delete" data-tooltip="tooltip" data-placement="top" title="Elimina Fornitore">Elimina <i class="fa fa-remove"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01" onchange="aggiornaLista()">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect02">Fornitore</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect02" onchange="aggiornaLista()">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table" class="display" style="width:100%">
                                            <thead>
                                            <th>Fronitore</th>
                                            <th>Codice</th>
                                            <th>Descrizione</th>
                                            <th>Quantità</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- dialog body-->
                            <div class="modal-body">
                                <button class="close" type="button" data-dismiss="modal">×</button>
                                <h3>Richiesta Inviata Con Successo!</h3>
                            </div>
                            <!-- dialog buttons-->
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal2">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- dialog body-->
                            <div class="modal-body">
                                <button class="close" type="button" data-dismiss="modal">×</button>
                                <h3>ATTENZIONE Per inviare la richiesta devi immettere almeno una quantità!</h3>
                            </div>
                            <!-- dialog buttons-->
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Aggiungi Prodotto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Codice</label>
                                            <input id="codice" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Descrizione</label>
                                            <input id="descrizione" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="categoria">Categoria</label>
                                            </div>
                                            <select class="custom-select" id="categoria">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-primary" onclick="aggiungiCategoria()">Aggiungi Categoria</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="fornitore">Fornitore</label>
                                            </div>
                                            <select class="custom-select" id="fornitore">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" onclick="salvaProdotto()">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modifica Prodotto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Codice</label>
                                            <input id="codice1" type="text" class="form-control" required>
                                            <input id="id2" type="text" class="form-control" required hidden>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Descrizione</label>
                                            <input id="descrizione1" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="categoria">Categoria</label>
                                            </div>
                                            <select class="custom-select" id="categoria1">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-primary" onclick="aggiungiCategoria()">Aggiungi Categoria</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="fornitore">Fornitore</label>
                                            </div>
                                            <select class="custom-select" id="fornitore1">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" onclick="salvaUtente('aggiornamento')">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Elimina Utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input id="id3" type="text" class="form-control" required hidden>
                                <p>Sei sicuro di voler eliminare questo prodotto ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-danger" onclick="salvaUtente('eliminazione')">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, powered by
                    <a href="http://www.ak12srl.it" target="_blank">Ak-12 S.r.l.</a>
                </div>
                <!-- your footer here -->
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Chartist JS -->
<script src="assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
<script src="assets/js/plugins/DataTables.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<script>

    $(document).ready(function () {

        $('#modificaProdotto').prop('disabled', true);
        $('#eliminaProdotto').prop('disabled', true);

        $.fn.dataTable.ext.errMode = 'none';
        table = $('#table').DataTable();
        $('#table').dataTable().fnDestroy();
        $('#table').dataTable().fnClearTable();

    });

    let something = (function() {
        let executed = false;
        return function() {
            if (!executed) {
                executed = true;
                $('#table tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        $('#modificaProdotto').prop('disabled', true);
                        $('#eliminaProdotto').prop('disabled', true);
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        $('#modificaProdotto').prop('disabled', false);
                        $('#eliminaProdotto').prop('disabled', false);
                    }
                });
            }
        };
    })();

    let datiInsert = {
        "codice" : "",
        "descrizione" : "",
        "categoria" : "",
        "fornitore" : ""
    };

    function aggiornaSelect() {

        let dropdown = document.getElementById('inputGroupSelect02');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getFornitoreWA';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].nome_descrizione;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect();

    function aggiornaSelect1() {

        let dropdown = document.getElementById('inputGroupSelect01');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getCategoria';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].text;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect1();

    function aggiornaSelect2() {

        let dropdown = document.getElementById('fornitore');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getFornitoreWA';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].nome_descrizione;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect2();

    function aggiornaSelect3() {

        let dropdown = document.getElementById('categoria');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getCategoria';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].text;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect3();

    function aggiornaSelect4() {

        let dropdown = document.getElementById('fornitore1');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getFornitoreWA';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].nome_descrizione;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect4();

    function aggiornaSelect5() {

        let dropdown = document.getElementById('categoria1');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/getCategoria';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].text;
                    option.value = data["data"][i].id;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }

    aggiornaSelect5();

    function aggiornaLista() {

        visualizza();

    }

    function visualizza() {

        let data = null;

        console.log($('#inputGroupSelect01').val());
        console.log($('#inputGroupSelect02').val());

        if($('#inputGroupSelect01').val() === 'Seleziona' && $('#inputGroupSelect02').val() === 'Seleziona'){

            data = JSON.stringify({'tipo': 'multipla'});
            $('#table').dataTable().fnDestroy();
            table = $('#table').DataTable({
                ajax: "/getProdotti/"+data,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {"data": "nome_descrizione"},
                    {"data": "codice"},
                    {"data": "descrizione"},
                    {"data": "quantita","render": function (data) {
                        if(data === null){
                            return '<input type="number" class="form-control" placeholder="Inserisci Quantità" aria-label="Inserisci Quantità" aria-describedby="basic-addon2">'
                        }
                    }}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                ordering: false,
                order: [0, 'asc'],
                drawCallback: function ( settings ) {
                    let api = this.api();
                    let rows = api.rows( {page:'current'} ).nodes();

                    let last=null;

                    let groupadmin = [];

                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {

                        if ( last !== group ) {

                            $(rows).eq( i ).before(
                                '<tr class="group" id="'+i+'"><td colspan="12">'+group+'<button type="button"  id="button'+i+'" class="btn btn-primary some-class" style="float: right">Invia Richiesta</button></td></tr>'
                            );
                            groupadmin.push(i);
                            last = group;
                        }

                    } );

                    for( let k=0; k < groupadmin.length; k++){
                        // Code added for adding class to sibling elements as "group_<id>"
                        $("#"+groupadmin[k]).nextUntil("#"+groupadmin[k+1]).addClass(' group_'+groupadmin[k]);
                        $(".group_"+groupadmin[k]).slideToggle(400);
                        // Code added for adding Toggle functionality for each group

                        $("#"+groupadmin[k]).click(function(){
                            let gid = $(this).attr("id");
                            $(".group_"+gid).slideToggle(300);
                        });
                    }
                }
            });
            something();


        } //OK
        else if($('#inputGroupSelect01').val() !== 'Seleziona'  && $('#inputGroupSelect02').val() !== 'Seleziona'){

            data = JSON.stringify({"tipo": "double", "fornitore":  $('#inputGroupSelect02').val(),"categoria": $('#inputGroupSelect01').val()});
            $('#table').dataTable().fnDestroy();
            table = $('#table').DataTable({
                ajax: "/getProdotti/"+data,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {"data": "nome_descrizione"},
                    {"data": "codice"},
                    {"data": "descrizione"},
                    {"data": "quantita","render": function (data) {
                        if(data === null){
                            return '<input type="number" class="form-control" placeholder="Inserisci Quantità" aria-label="Inserisci Quantità" aria-describedby="basic-addon2">'
                        }
                    }}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                ordering: false,
                order: [0, 'asc'],
                drawCallback: function ( settings ) {
                    let api = this.api();
                    let rows = api.rows( {page:'current'} ).nodes();

                    let last=null;

                    let groupadmin = [];

                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {

                        if ( last !== group ) {

                            $(rows).eq( i ).before(
                                '<tr class="group" id="'+i+'"><td colspan="12">'+group+'<button type="button"  id="button'+i+'" class="btn btn-primary some-class" style="float: right">Invia Richiesta</button></td></tr>'
                            );
                            groupadmin.push(i);
                            last = group;
                        }

                    } );

                    for( let k=0; k < groupadmin.length; k++){
                        // Code added for adding class to sibling elements as "group_<id>"
                        $("#"+groupadmin[k]).nextUntil("#"+groupadmin[k+1]).addClass(' group_'+groupadmin[k]);
                        $(".group_"+groupadmin[k]).slideToggle(400);
                        // Code added for adding Toggle functionality for each group

                        $("#"+groupadmin[k]).click(function(){
                            let gid = $(this).attr("id");
                            $(".group_"+gid).slideToggle(300);
                        });
                    }
                }
            });
            something();


        } //OK
        else if($('#inputGroupSelect01').val().length > 0 && $('#inputGroupSelect02').val() === 'Seleziona'){

            data = JSON.stringify({"tipo": "categoria", "categoria": $('#inputGroupSelect01').val()});
            $('#table').dataTable().fnDestroy();
            table = $('#table').DataTable({
                ajax: "/getProdotti/"+data,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {"data": "nome_descrizione"},
                    {"data": "codice"},
                    {"data": "descrizione"},
                    {"data": "quantita","render": function (data) {
                        if(data === null){
                            return '<input type="number" class="form-control" placeholder="Inserisci Quantità" aria-label="Inserisci Quantità" aria-describedby="basic-addon2">'
                        }
                    }}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                ordering: false,
                order: [0, 'asc'],
                drawCallback: function ( settings ) {
                    let api = this.api();
                    let rows = api.rows( {page:'current'} ).nodes();

                    let last=null;

                    let groupadmin = [];

                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {

                        if ( last !== group ) {

                            $(rows).eq( i ).before(
                                '<tr class="group" id="'+i+'"><td colspan="12">'+group+'<button type="button"  id="button'+i+'" class="btn btn-primary some-class" style="float: right">Invia Richiesta</button></td></tr>'
                            );
                            groupadmin.push(i);
                            last = group;
                        }

                    } );

                    for( let k=0; k < groupadmin.length; k++){
                        // Code added for adding class to sibling elements as "group_<id>"
                        $("#"+groupadmin[k]).nextUntil("#"+groupadmin[k+1]).addClass(' group_'+groupadmin[k]);
                        $(".group_"+groupadmin[k]).slideToggle(400);
                        // Code added for adding Toggle functionality for each group

                        $("#"+groupadmin[k]).click(function(){
                            let gid = $(this).attr("id");
                            $(".group_"+gid).slideToggle(300);
                        });
                    }
                }
            });
            something();


        } //OK
        else if($('#inputGroupSelect02').val() > 0 && $('#inputGroupSelect01').val() === 'Seleziona'){

            data = JSON.stringify({"tipo": "fornitore","fornitore": $('#inputGroupSelect02').val()});
            $('#table').dataTable().fnDestroy();
            table = $('#table').DataTable({
                ajax: "/getProdotti/"+data,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                columns: [
                    {"data": "nome_descrizione"},
                    {"data": "codice"},
                    {"data": "descrizione"},
                    {"data": "quantita","render": function (data) {
                        if(data === null){
                            return '<input type="number" class="form-control" placeholder="Inserisci Quantità" aria-label="Inserisci Quantità" aria-describedby="basic-addon2">'
                        }
                    }}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                ordering: false,
                order: [0, 'asc'],
                drawCallback: function ( settings ) {
                    let api = this.api();
                    let rows = api.rows( {page:'current'} ).nodes();

                    let last=null;

                    let groupadmin = [];

                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {

                        if ( last !== group ) {

                            $(rows).eq( i ).before(
                                '<tr class="group" id="'+i+'"><td colspan="12">'+group+'<button type="button"  id="button'+i+'" class="btn btn-primary some-class" style="float: right">Invia Richiesta</button></td></tr>'
                            );
                            groupadmin.push(i);
                            last = group;
                        }

                    } );

                    for( let k=0; k < groupadmin.length; k++){
                        // Code added for adding class to sibling elements as "group_<id>"
                        $("#"+groupadmin[k]).nextUntil("#"+groupadmin[k+1]).addClass(' group_'+groupadmin[k]);
                        $(".group_"+groupadmin[k]).slideToggle(400);
                        // Code added for adding Toggle functionality for each group

                        $("#"+groupadmin[k]).click(function(){
                            let gid = $(this).attr("id");
                            $(".group_"+gid).slideToggle(300);
                        });
                    }
                }
            });
            something();


        } //OK

    }

    let arrayProdotti = {};

    function transito(data){

        $('#spinner').css("display","block");

        let array = [];

        for(let i=0; i<data.length; i++){

            if(data[i].quantita!== null){

                array.push(data[i]);

            }

        }

        $.ajax({
            url: '/getStrutturaWeb',
            type: 'GET',
            cache: false,
            contentType: 'application/json',
            success: function (data) {
                let a = JSON.stringify(data);
                let b = JSON.parse(a);

                if(array.length>0){

                    let arrayFinal= [];

                    for(let i=0; i<array.length; i++){

                        if(array[i].quantita.length>0){
                            arrayFinal.push(array[i]);
                        }

                    }

                    let dataInvioEmail={
                        struttura: b.struttura.id,
                        emailStruttura: b.struttura.email,
                        array: arrayFinal

                    };

                    if(arrayFinal.length>0){

                        $.ajax({
                            url: '/invioEmailWA',
                            type: 'POST',
                            data: JSON.stringify(dataInvioEmail),
                            cache: false,
                            contentType: 'application/json',
                            success: function (data) {

                                $('#spinner').css("display","none");

                                $("#myModal1").on("show", function () {
                                    $("#myModal1 a.btn").on("click", function (e) {
                                        console.log("button pressed");
                                        $("#myModal1").modal('hide');
                                    });
                                });
                                $("#myModal1").on("hide", function () {
                                    $("#myModal1 a.btn").off("click");
                                });

                                $("#myModal1").on("hidden", function () {
                                    $("#myModal1").remove();
                                });

                                $("#myModal1").modal({
                                    "backdrop": "static",
                                    "keyboard": true,
                                    "show": true
                                });

                                $('#inputGroupSelect01').val('Seleziona');
                                $('#inputGroupSelect02').val('Seleziona');
                                aggiornaLista();

                            },
                            faliure: function (data) {

                            }
                        });
                    }
                    else{
                        $('#spinner').css("display","none");

                        $("#myModal2").on("show", function () {
                            $("#myModal2 a.btn").on("click", function (e) {
                                console.log("button pressed");
                                $("#myModal2").modal('hide');
                            });
                        });
                        $("#myModal2").on("hide", function () {
                            $("#myModal2 a.btn").off("click");
                        });

                        $("#myModal2").on("hidden", function () {
                            $("#myModal2").remove();
                        });

                        $("#myModal2").modal({
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true
                        });
                    }

                }
                else{
                    $('#spinner').css("display","none");

                    $("#myModal2").on("show", function () {
                        $("#myModal2 a.btn").on("click", function (e) {
                            console.log("button pressed");
                            $("#myModal2").modal('hide');
                        });
                    });
                    $("#myModal2").on("hide", function () {
                        $("#myModal2 a.btn").off("click");
                    });

                    $("#myModal2").on("hidden", function () {
                        $("#myModal2").remove();
                    });

                    $("#myModal2").modal({
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true
                    });
                }


            },
            faliure: function (data) {

            }
        });

    }

    function aggiungiCategoria() {
        let value;
        let cliente = prompt("Inserisci la categoria:", "Tipo Categoria");
        if (cliente === null || cliente === "") {
            value = "Errore! Non hai inserito nessuna categoria.";
            alert(value);
        } else {
            value = cliente;
            const url = '/getCategoria';
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    value: value
                },
                success: function (response) {
                    alert(value + " Inserimento eseguito con Successo!");
                    aggiornaSelect3();
                    aggiornaSelect1();
                    aggiornaSelect5();
                },
                failure: function () {
                    alert(value + " errore di inserimento!");
                }
            });
        }
    }

    function openModalUp(){

        $('#codice1').val('');
        $('#descrizione1').val('');
        $('#categoria1').val('');
        $('#fornitore1').val('');
        $('#id2').val('');

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arrayProdotti = ids1;

        $('#codice1').val(arrayProdotti[0].codice);
        $('#descrizione1').val(arrayProdotti[0].descrizione);
        $('#categoria1').val(arrayProdotti[0].categoria);
        $('#fornitore1').val(arrayProdotti[0].fornitore);
        $('#id2').val(arrayProdotti[0].id_prodotto);

    }

    function openModalDel(){

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arrayProdotti = ids1;

        $('#id3').val(arrayProdotti[0].id_prodotto);

    }

    function salvaProdotto(){

        datiInsert.codice = $('#codice').val();
        datiInsert.descrizione = $('#descrizione').val();
        datiInsert.categoria = $('#categoria').val();
        datiInsert.fornitore = $('#fornitore').val();


        $.ajax({
            url: '/getProdotti/add',
            type: 'POST',
            data: JSON.stringify(datiInsert),
            cache: false,
            contentType: 'application/json',
            success: function (data) {

                $('#insert').hide();
                $('.modal-backdrop').remove();
                $('#codice').val('');
                $('#descrizione').val('');
                $('#categoria').val('');
                $('#fornitore').val('');

            },
            faliure: function (data) {

            }
        });

    }

    function salvaUtente(tipo){

        if(tipo === 'aggiornamento'){

            datiInsert.codice = $('#codice1').val();
            datiInsert.descrizione = $('#descrizione1').val();
            datiInsert.categoria = $('#categoria1').val();
            datiInsert.fornitore = $('#fornitore1').val();
            datiInsert.id = $('#id2').val();

            $.ajax({
                url: '/getProdotti/'+datiInsert.id,
                type: 'PUT',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {
                    if(data===true){


                    }

                    else if(data===false){

                        $('#update').hide();
                        $('.modal-backdrop').remove();
                        table.ajax.reload();
                        $('#codice').val('');
                        $('#descrizione').val('');
                        $('#categoria').val('');
                        $('#fornitore').val('');
                        $('#id2').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }

        if(tipo === 'eliminazione'){

            datiInsert.id = $('#id3').val();

            $.ajax({
                url: '/getProdotti/'+datiInsert.id,
                type: 'DELETE',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {

                    if(data===true){


                    }

                    else if(data===false){

                        $('#delete').hide();
                        $('.modal-backdrop').remove();
                        table.ajax.reload();
                        $('#id3').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }

    }

    $(document).on('click', '.some-class', function(){

        let arrayTransito = [];

        $('table tr td:nth-child(4)').each(function(){
            let texto = $(this);
            let rowIndex = texto[0]._DT_CellIndex.row;
            let arrayFinale = table.row( rowIndex ).data();

            if(texto[0].childNodes[0].value){
                arrayFinale.quantita = texto[0].childNodes[0].value;
                arrayTransito.push(arrayFinale);
                console.log(arrayFinale);
            }
        });

        transito(arrayTransito);
    });
</script>
</body>

</html>