<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        GestGenSuite
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- CSS Files -->
    <link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body class="" onload="aggiornaSelect()">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="" class="simple-text logo-normal">
                GestGenSuite <img src="images/logo.png" height="100px">
            </a>

        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profilo">
                        <i class="material-icons">person</i>
                        <p>Profilo</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/utenti">
                        <i class="material-icons">content_paste</i>
                        <p>Tabella Utenti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/clienti">
                        <i class="material-icons">library_books</i>
                        <p>Tabella Clienti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/inserimento">
                        <i class="material-icons">border_color</i>
                        <p>Inserimento</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/saldo">
                        <i class="material-icons">attach_money</i>
                        <p>Saldo</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/prodottiStruttura">
                        <i class="material-icons">restaurant_menu</i>
                        <p>Prodotti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/fornitori">
                        <i class="material-icons">transfer_within_a_station</i>
                        <p>Tabella Fornitori</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/richieste">
                        <i class="material-icons">add_shopping_cart</i>
                        <p>Tabella Riassortimento</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/logout?id=user">
                        <i class="material-icons">exit_to_app</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/saldo">Saldo</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <!-- your content here -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title ">Saldo</h4>
                                            <p class="card-category">Visualizza il tuo saldo</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="float: right">
                                                <button type="button" id="modificaSaldo" onclick="openModalUp()" class="btn btn-primary block" data-toggle="modal" data-target="#update"  data-tooltip="tooltip" data-placement="top" title="Modifica Saldo">Modifica <i class="fa fa-pencil"></i></button>
                                                <button type="button" id="eliminaSaldo" onclick="openModalDel()" class="btn btn-primary block" data-toggle="modal" data-target="#delete" data-tooltip="tooltip" data-placement="top" title="Elimina Saldo">Elimina <i class="fa fa-remove"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating" for="tipo">Tipo Saldo:</label>
                                                <select class="form-control" id="tipo" onchange="scegliDate()" required>
                                                    <option value="" disabled selected>Seleziona</option>
                                                    <option value="periodo">PERIODO</option>
                                                    <option value="giornata">GIORNATA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="giornataFrom" style="display: none;z-index: 4;position: relative;">
                                            <div class="form-group bmd-form-group">
                                                <label for="datepickerFrom">Selezionare giorno:</label>
                                                <input class="form-control" type="text" id="datepickerFrom" name="datepickerFrom" onchange="saldoGiornata()" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="giornataTo" style="display: none;z-index: 4;position: relative;">
                                            <div class="form-group bmd-form-group">
                                                <label for="datepickerTo">Selezionare fine periodo:</label>
                                                <input class="form-control" type="text" id="datepickerTo" name="datepickerTo" onchange="saldoPeriodo()" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating" for="cliente">Cliente:</label>
                                                <select class="form-control" id="cliente" placeholder="Seleziona"
                                                        onchange="richiediSaldo()" required>
                                                    <!-- fine div Va riempito con una get su cliente  -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="bmd-label-floating" for="uscite"
                                                           style="color:red">Uscite:</label>
                                                    <br>
                                                    <h3 class="bmd-label-floating" id='uscite' style="color:red"></h3>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="bmd-label-floating" for="entrate" style="color:green">Entrate:</label>
                                                    <br>
                                                    <h3 class="bmd-label-floating" id='entrate' style="color:green"></h3>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="bmd-label-floating" for="saldo">Saldo:</label>
                                                    <br>
                                                    <h3 class="bmd-label-floating" id='saldo'></h3>

                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="bmd-label-floating" for="entsos"  style="color:green">Entrate in Sospeso:</label>
                                                    <br>
                                                    <h3 class="bmd-label-floating" id='entsos'></h3>

                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="bmd-label-floating" for="uscsos"  style="color:red">Uscite in Sospeso:</label>
                                                    <br>
                                                    <h3 class="bmd-label-floating" id='uscsos'></h3>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-9">
                                            <div class="table-responsive">
                                                <table id="table" class="display" style="width:100%">
                                                    <thead>
                                                    <th>Cliente</th>
                                                    <th>Descrizione</th>
                                                    <th>Data</th>
                                                    <th>Importo</th>
                                                    <th>Modalita</th>
                                                    <th>Tipo</th>
                                                    <th>Creato da</th>
                                                    <th>Foto</th>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Foto Documento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="img" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modifica Saldo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating" for="clienteUp">Cliente</label>
                                            <select class="form-control" id="clienteUp" placeholder="Seleziona" >
                                                <!-- fine div Va riempito con una get su cliente  -->
                                            </select>
                                        </div>
                                        <input id="id2" type="text" class="form-control" required hidden>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <button class="btn btn-primary" onclick="aggiungiCliente()">Aggiungi cliente
                                                <i class="icon-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating" for="descrizione">Descrizione</label>
                                            <input id="descrizione" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label for="importo">Inserire importo</label>
                                            <input class="form-control" type="text" id="importo"  >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating" for="modalita">Modalità</label>
                                            <select class="form-control" id="modalita" placeholder="Seleziona" >
                                                <option value="" disabled selected>Seleziona</option>
                                                <option value="bonifico">BONIFICO</option>
                                                <option value="carta">CARTA DI CREDITO</option>
                                                <option value="contanti">CONTANTI</option>
                                                <option value="sospeso">SOSPESO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating" for="tipoUp">Seleziona tipo:</label>
                                            <select class="form-control" id="tipoUp" placeholder="Seleziona" >
                                                <option value="" disabled selected>Seleziona</option>
                                                <option value="incasso">INCASSO</option>
                                                <option value="pagamento">PAGAMENTO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" onclick="salvaUtente('aggiornamento')">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Elimina Utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input id="id3" type="text" class="form-control" required hidden>
                                <p>Sei sicuro di voler eliminare questo saldo ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-danger" onclick="salvaUtente('eliminazione')">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , powered by
                    <a href="http://www.ak12srl.it" target="_blank">Ak-12 S.r.l.</a>
                </div>
                <!-- your footer here -->
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="assets/js/plugins/DataTables.js" type="text/javascript"></script>
<script src="assets/js/jquery.maskMoney.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function aggiornaSelect() {

        let dropdown = document.getElementById('cliente');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Selezionare Cliente';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/clienteStruttura';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].text;
                    option.value = data["data"][i].value;
                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('Errore nella richiesta!');
        };

        request.send();
    }
</script>

<script>
    function scegliDate() {
        var $dates = $('#datepickerTo, #datepickerFrom').datepicker();
        $dates.datepicker('setDate', null);

        if (document.getElementById('tipo').value === 'periodo') {
            document.getElementById('giornataFrom').style.display = 'block';
            document.getElementById('giornataTo').style.display = 'block';
        } else if (document.getElementById('tipo').value === 'giornata') {
            document.getElementById('giornataFrom').style.display = 'block';
            document.getElementById('giornataTo').style.display = 'none';
        }
    }
</script>

<script>
    function richiediSaldo() {
        let ggF = document.getElementById("datepickerFrom").value.substring(3,5);
        let mmF = document.getElementById("datepickerFrom").value.substring(0,2);
        let yyF = document.getElementById("datepickerFrom").value.substring(6,10);
        let dateF = yyF+'-'+mmF+'-'+ggF;

        let ggT = document.getElementById("datepickerTo").value.substring(3,5);
        let mmT = document.getElementById("datepickerTo").value.substring(0,2);
        let yyT = document.getElementById("datepickerTo").value.substring(6,10);
        let dateT = yyT+'-'+mmT+'-'+ggT;

        let cli = document.getElementById("cliente").value;

        let tipo = '';

        const url =  '/getSaldoWA';

        let datiSaldo = {
            tipo: '',
            dataFrom: '',
            dataTo: '',
            cliente: ''
        };

        if (document.getElementById('tipo').value === 'periodo') {
            if((dateF !== '--' || dateF !== null) && (dateT !== '--' || dateT !== null)){
                if(document.getElementById("cliente").selectedIndex !== 0){

                    tipo = 'rangecli';

                    datiSaldo = {
                        tipo: tipo,
                        dataFrom: dateF,
                        dataTo: dateT,
                        cliente: cli
                    };
                } else {

                    tipo = 'range';

                    datiSaldo = {
                        tipo: tipo,
                        dataFrom: dateF,
                        dataTo: dateT,
                        cliente: cli
                    };
                }
            }
        } else if (document.getElementById('tipo').value === 'giornata') {
            if(dateF !== '--' || dateF !== null) {
                if(document.getElementById("cliente").selectedIndex !== 0){
                    tipo = 'giornocli';

                    datiSaldo = {
                        tipo: tipo,
                        dataFrom: dateF,
                        dataTo: dateT,
                        cliente: cli
                    };
                } else {
                    tipo = 'giorno';

                    datiSaldo = {
                        tipo: tipo,
                        dataFrom: dateF,
                        dataTo: dateT,
                        cliente: cli
                    };
                }
            }
        }

        $.ajax({
            url: url,
            type: 'POST',   //type is any HTTP method
            data: {
                data: datiSaldo
            },
            success: function (response) {
                let table = $('#table').DataTable();

                let data = {data : response['id']};
                if(data.data === null || data.data === undefined){
                    $('#entrate').val(0);
                    $('#uscite').val(0);
                    $('#saldo').val(0);
                    $('#entsos').val(0);
                    $('#uscsos').val(0);
                    alert('Nessun elemento presente nel saldo che rispetti i vincoli selezionati!')
                    if (!table.data().any() ) {
                        //alert( 'Empty table' );
                        //table.ajax.reload();
                    }else {
                        table.clear().draw();
                    }
                } else {
                    let entrata = parseFloat('0.00');
                    let uscita = parseFloat('0.00');
                    let entsos = parseFloat('0.00');
                    let uscsos = parseFloat('0.00');
                    for (var i = 0; i < data.data.length; i++) {
                        if(data.data[i].tipo === 'incasso' && data.data[i].modalita!=='sospeso'){
                            entrata = parseFloat(entrata) + parseFloat(data.data[i].importo);
                        }
                        if (data.data[i].tipo === 'pagamento' && data.data[i].modalita!=='sospeso'){
                            uscita = parseFloat(uscita) + parseFloat(data.data[i].importo);
                        }
                        if (data.data[i].tipo === 'pagamento' && data.data[i].modalita==='sospeso'){
                            uscsos = parseFloat(uscsos) + parseFloat(data.data[i].importo);
                        }
                        if (data.data[i].tipo === 'incasso' && data.data[i].modalita==='sospeso'){
                            entsos = parseFloat(entsos) + parseFloat(data.data[i].importo);
                        }
                    }
                    $('#entrate').text("€ "+entrata);
                    $('#uscite').text("€ "+uscita);
                    $('#saldo').text("€ "+(entrata - uscita));
                    $('#entsos').text("€ "+entsos);
                    $('#uscsos').text("€ "+uscsos);

                    let totale = entrata - uscita;

                    if(totale>0){
                        $('#saldo').css("color","green");
                    }
                    if(totale<0){
                        $('#saldo').css("color","red");
                    }

                    table.destroy();
                    gestisciTabella(data);
                }
            },
            failure: function () {
                alert("Errore!");
                console.log(response);
            }
        });
    }
</script>

<script>
    function saldoGiornata(){

        if($('#tipo').val()=== 'giornata'){
            richiediSaldo();
        }
    }
</script>

<script>
    function saldoPeriodo(){

        if($('#tipo').val()=== 'periodo'){
            richiediSaldo();
        }
    }
</script>

<script>

    $('#modificaSaldo').prop('disabled', true);
    $('#eliminaSaldo').prop('disabled', true);

    $("#importo").maskMoney({thousands: ',', decimal: '.', allowZero: true, suffix: ''});

    let something = (function() {
        let executed = false;
        return function() {
            if (!executed) {
                executed = true;
                $('#table tbody').on('click', 'tr', function () {
                    let data = table.row(this).data();
                    $('#img').attr('src',data.foto);
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                        $('#modificaSaldo').prop('disabled', true);
                        $('#eliminaSaldo').prop('disabled', true);
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        $('#modificaSaldo').prop('disabled', false);
                        $('#eliminaSaldo').prop('disabled', false);
                    }
                });
            }
        };
    })();

    function gestisciTabella(datiSaldo) {
        $(document).ready(function () {
            table = $('#table').DataTable({
                data : datiSaldo['data'],
                columns: [
                    {"data": "cliente"},
                    {"data": "descrizione"},
                    {"data": "data","render": function (data) {
                        function pad(s) { return (s < 10) ? '0' + s : s; };
                        let d = new Date(data);
                        return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
                    }},
                    {"data": "importo"},
                    {"data": "modalita"},
                    {"data": "tipo"},
                    {"data": "utente"},
                    {"data": "foto", "render": function(data) {

                            if(data === 'undefined' || data === 'null' || data === undefined || data === null || data === ''){

                                return ''

                            }
                            else{

                                return '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Vedi Foto</button>'
                            }
                    }}
                ],
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                order: [1, 'asc']
            });

            something();

        });

    }

    function aggiornaSelect1() {

        let dropdown = document.getElementById('clienteUp');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Seleziona';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = '/clienteStruttura';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data["data"].length; i++) {
                    option = document.createElement('option');
                    option.text = data["data"][i].text;
                    option.value = data["data"][i].value;

                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the JSON from ' + url);
        };

        request.send();
    }
    aggiornaSelect1();

    function aggiungiCliente() {
        let value;
        let cliente = prompt("Inserisci il cliente:", "Tipo Cliente");
        if (cliente === null || cliente === "") {
            value = "Errore! Non hai inserito nessuna descrizione cliente.";
            alert(value);
        } else {
            value = cliente;
            const url = '/clienteStruttura';
            $.ajax({
                url: url,
                type: 'POST',   //type is any HTTP method
                data: {
                    value: value
                },
                success: function (response) {
                    alert(value + " inserito!");
                    aggiornaSelect();
                    aggiornaSelect1();
                },
                failure: function () {
                    alert(value + " errore di inserimento!");
                }
            });
        }
    }
</script>

<script>
    $(function () {
        let dateFormat = "mm/dd/yy",
            from = $("#datepickerFrom")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                }).on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#datepickerTo").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2
            }).on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

        function getDate(element) {
            let date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value );
            } catch (error) {
                alert("Errore nell'inserimento del range!");
            }
            return date;
        }
    });
</script>

<script>

    let arraySaldo = {};

    function openModalUp(){

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arraySaldo = ids1;

        console.log(arraySaldo);

        $('#clienteUp').val(arraySaldo[0].cliente);
        $('#descrizione').val(arraySaldo[0].descrizione);
        $('#importo').val(arraySaldo[0].importo);
        $('#modalita').val(arraySaldo[0].modalita);
        $('#tipoUp').val(arraySaldo[0].tipo);
        $('#id2').val(arraySaldo[0].id);

    }

    function openModalDel(){

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arraySaldo = ids1;

        $('#id3').val(arraySaldo[0].id);

    }

    function salvaUtente(tipo){

        let datiInsert = {
            "clienteUp": '',
            "descrizione": '',
            "importo": '',
            "modalita": '',
            "tipoUp": '',
            "id": ''
        };

        if(tipo === 'aggiornamento'){

            datiInsert.clienteUp = $('#clienteUp').val();
            datiInsert.descrizione = $('#descrizione').val();
            datiInsert.importo = $('#importo').val();
            datiInsert.modalita = $('#modalita').val();
            datiInsert.tipoUp = $('#tipoUp').val();
            datiInsert.id = $('#id2').val();

            $.ajax({
                url: '/salvaSaldoWA/'+datiInsert.id,
                type: 'PUT',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {
                    if(data===true){


                    }

                    else if(data===false){

                        $('#update').hide();
                        $('.modal-backdrop').remove();
                        richiediSaldo();
                        $('#clienteUp').val('');
                        $('#descrizione').val('');
                        $('#importo').val('');
                        $('#modalita').val('');
                        $('#tipoUp').val('');
                        $('#id2').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }

        if(tipo === 'eliminazione'){

            datiInsert.id = $('#id3').val();

            $.ajax({
                url: '/salvaSaldoWA/'+datiInsert.id,
                type: 'DELETE',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {

                    if(data===true){


                    }

                    else if(data===false){

                        $('#delete').hide();
                        $('.modal-backdrop').remove();
                        richiediSaldo();
                        $('#id3').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }

    }

</script>

</body>

</html>