<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        GestGenSuite
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="assets/css/material-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a class="simple-text logo-normal">
            GestGenSuite <img src="images/logo.png" height="100px" >
        </a>

        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profilo">
                        <i class="material-icons">person</i>
                        <p>Profilo</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/utenti">
                        <i class="material-icons">content_paste</i>
                        <p>Tabella Utenti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/clienti">
                        <i class="material-icons">library_books</i>
                        <p>Tabella Clienti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/inserimento">
                        <i class="material-icons">border_color</i>
                        <p>Inserimento</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/saldo">
                        <i class="material-icons">attach_money</i>
                        <p>Saldo</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/prodotti">
                        <i class="material-icons">restaurant_menu</i>
                        <p>Prodotti</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/fornitori">
                        <i class="material-icons">transfer_within_a_station</i>
                        <p>Tabella Fornitori</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/logout?id=user">
                        <i class="material-icons">exit_to_app</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/utenti">Utenti</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title ">Tabella Utenti</h4>
                                        <p class="card-category">Gestisci le utenze per la Mobile Application</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="float: right">
                                            <button type="button" id="aggiungiUtente" onclick="openModalIn()" class="btn btn-primary block" data-toggle="modal" data-target="#insert" data-tooltip="tooltip" data-placement="top" title="Aggiungi Utente">Aggiungi <i class="fa fa-plus"></i></button>
                                            <button type="button" id="modificaUtente" onclick="openModalUp()" class="btn btn-primary block" data-toggle="modal" data-target="#update"  data-tooltip="tooltip" data-placement="top" title="Modifica Utente">Aggiorna <i class="fa fa-pencil"></i></button>
                                            <button type="button" id="eliminaUtente" onclick="openModalDel()" class="btn btn-primary block" data-toggle="modal" data-target="#delete" data-tooltip="tooltip" data-placement="top" title="Elimina Utente">Elimina <i class="fa fa-remove"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="table" class="display" style="width:100%">
                                        <thead>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Nome</th>
                                        <th>Cognome</th>
                                        <th>Data creazione</th>
                                        <th>Creato da</th>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Inserisci Utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Username</label>
                                            <input id="username1" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Password</label>
                                            <input id="password1" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nome</label>
                                            <input id="nome1" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Cognome</label>
                                            <input id="cognome1" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" onclick="salvaUtente('inserimento')">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modifica Utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Username</label>
                                            <input id="username2" type="text" class="form-control" required>
                                            <input id="id2" type="text" class="form-control" required hidden>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Password</label>
                                            <input id="password2" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nome</label>
                                            <input id="nome2" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Cognome</label>
                                            <input id="cognome2" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" onclick="salvaUtente('aggiornamento')">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Elimina Utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input id="id3" type="text" class="form-control" required hidden>
                                <p>Sei sicuro di voler eliminare questo utente ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-danger" onclick="salvaUtente('eliminazione')">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- dialog body-->
                            <div class="modal-body">
                                <button class="close" type="button" data-dismiss="modal">×</button>
                                <h3>Errore nell'aggiornamento! provare con un'altro username.</h3>
                            </div>
                            <!-- dialog buttons-->
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, powered by
                    <a href="http://www.ak12srl.it" target="_blank">Ak-12 S.r.l.</a>
                </div>
                <!-- your footer here -->
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
<script src="assets/js/plugins/DataTables.js" type="text/javascript"></script>
<script src="assets/js/jquery.maskMoney.js"></script>

<script>
    let arrayUtenti = {};

    $(document).ready(function () {

        $('#modificaUtente').prop('disabled', true);
        $('#eliminaUtente').prop('disabled', true);

        table = $('#table').DataTable({
            ajax: "/utentiStruttura",
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            columns: [
                {"data": "username"},
                {"data": "password"},
                {"data": "nome"},
                {"data": "cognome"},
                {"data": "create_date","render": function (data) {
                    function pad(s) { return (s < 10) ? '0' + s : s; };
                    let d = new Date(data);
                    return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
                }},
                {"data": "create_user"}
            ],
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc']
        });

        $('#table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $('#modificaUtente').prop('disabled', true);
                $('#eliminaUtente').prop('disabled', true);
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#modificaUtente').prop('disabled', false);
                $('#eliminaUtente').prop('disabled', false);
            }
        });

        $('#table tbody').on('click', 'td.details-control', function () {
            let tr = $(this).closest('tr');
            let row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });

    function openModalIn(){


    }

    function openModalUp(){

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arrayUtenti = ids1;

        $('#username2').val(arrayUtenti[0].username);
        $('#password2').val(arrayUtenti[0].password);
        $('#nome2').val(arrayUtenti[0].nome);
        $('#cognome2').val(arrayUtenti[0].cognome);
        $('#id2').val(arrayUtenti[0].id);

    }

    function openModalDel(){

        let ids1 = $.map(table.rows('.selected').data(), function (item) {
            return item;
        });
        arrayUtenti = ids1;

        $('#id3').val(arrayUtenti[0].id);

    }

    function salvaUtente(tipo){

        let datiInsert = {
            "username": "",
            "password": "",
            "nome": "",
            "cognome": "",
            "id": ""
        };

        if(tipo === 'inserimento'){

            datiInsert.username = $('#username1').val();
            datiInsert.password = $('#password1').val();
            datiInsert.nome = $('#nome1').val();
            datiInsert.cognome = $('#cognome1').val();

            $.ajax({
                url: '/getAdmin',
                type: 'POST',
                cache: false,
                contentType: 'application/json',
                data: JSON.stringify(datiInsert),
                success: function(data) {

                    if(data===false){

                        $('#insert').hide();
                        $('.modal-backdrop').remove();
                        table.ajax.reload();
                        $('#username1').val('');
                        $('#password1').val('');
                        $('#nome1').val('');
                        $('#cognome1').val('');

                    }
                    else if(data===true){


                        $("#myModal1").on("show", function () {
                            $("#myModal1 a.btn").on("click", function (e) {
                                console.log("button pressed");
                                $("#myModal1").modal('hide');
                            });
                        });
                        $("#myModal1").on("hide", function () {
                            $("#myModal1 a.btn").off("click");
                        });

                        $("#myModal1").on("hidden", function () {
                            $("#myModal1").remove();
                        });

                        $("#myModal1").modal({
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true
                        });


                    }

                },
                faliure: function(data) {

                }
            });

        }

        if(tipo === 'aggiornamento'){

            datiInsert.username = $('#username2').val();
            datiInsert.password = $('#password2').val();
            datiInsert.nome = $('#nome2').val();
            datiInsert.cognome = $('#cognome2').val();
            datiInsert.id = $('#id2').val();

            $.ajax({
                url: '/getAdmin/'+datiInsert.id,
                type: 'PUT',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {

                    if(data===true){

                        $("#myModal1").on("show", function () {
                            $("#myModal1 a.btn").on("click", function (e) {
                                console.log("button pressed");
                                $("#myModal1").modal('hide');
                            });
                        });
                        $("#myModal1").on("hide", function () {
                            $("#myModal1 a.btn").off("click");
                        });

                        $("#myModal1").on("hidden", function () {
                            $("#myModal1").remove();
                        });

                        $("#myModal1").modal({
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true
                        });

                    }

                    else if(data===false){

                        $('#update').hide();
                        $('.modal-backdrop').remove();
                        table.ajax.reload();
                        $('#username2').val('');
                        $('#password2').val('');
                        $('#nome2').val('');
                        $('#cognome2').val('');
                        $('#id2').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }

        if(tipo === 'eliminazione'){

            datiInsert.id = $('#id3').val();

            $.ajax({
                url: '/getAdmin/'+datiInsert.id,
                type: 'DELETE',
                data: JSON.stringify(datiInsert),
                cache: false,
                contentType: 'application/json',
                success: function(data) {

                    if(data===true){

                        $("#myModal1").on("show", function () {
                            $("#myModal1 a.btn").on("click", function (e) {
                                console.log("button pressed");
                                $("#myModal1").modal('hide');
                            });
                        });
                        $("#myModal1").on("hide", function () {
                            $("#myModal1 a.btn").off("click");
                        });

                        $("#myModal1").on("hidden", function () {
                            $("#myModal1").remove();
                        });

                        $("#myModal1").modal({
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true
                        });

                    }

                    else if(data===false){

                        $('#delete').hide();
                        $('.modal-backdrop').remove();
                        table.ajax.reload();
                        $('#id3').val('');

                    }

                },
                faliure: function(data) {

                }
            });

        }
    }


</script>

</body>

</html>